<button id="sportBtn" class="iconButton" style="background-image: url('assets/images/icon_basketball.png');"></button>
<button id="languageBtn" class="iconButton">en</button>
<button id="newBtn" class="iconButton new"></button>
<button id="infoBtn" class="iconButton info"></button>