<div id="content">
	<p>Event organizers would be able to submit their event/activity to the tool. And after a review process to verify the legitimacy of the event, it would be approved and added to the map.</p>
</div>
<div id="closeBtn"></div>
